## Question 1 (Easy)

**Title:** Print 1 to 10

### Problem Statement:
Print numbers from 1 to 10 using a for loop.

### Approach:
Use `range(1, 11)` inside a `for` loop and print each value.

In [ ]:
# write your code here
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## Question 2 (Easy)

**Title:** Sum of First N Numbers

### Problem Statement:
Take an integer N as input and find the sum of numbers from 1 to N.

### Approach:
Initialize sum = 0, loop from 1 to N, add each value to sum.

In [ ]:
# write your code here

N=int(input("Enter the number: "))
sum=0

for i in range(1,N+1):
  sum=sum+i
print(sum)

Enter the number: 346
60031

## Question 3 (Easy)

**Title:** Even Numbers from 1 to 50

### Problem Statement:
Print all even numbers between 1 and 50.

### Approach:
Loop from 1 to 50 and check `i % 2 == 0`.

In [ ]:
# write your code here

for i in range(1,50):
  if i%2==0:
    print(i)

# for i in range(2,51,2):
#   print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

## Question 4 (Easy)

**Title:** Count Multiples of 3

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by 3.

### Approach:
Use a counter variable and increment when `i % 3 == 0`.

In [ ]:
# write your code here
N=int(input("Enter the num: "))
count=0

for i in range(1,N):
  if i%3==0:
    count=count+1
print(count)

Enter the num: 6
1

## Question 5 (Easy)

**Title:** Multiplication Table

### Problem Statement:
Take a number as input and print its multiplication table from 1 to 10.

### Approach:
Loop from 1 to 10 and multiply with the input number.

In [ ]:
# write your code here

N=int(input("Enter the num: "))
for i in range(1,11):
  table=N*i
  print(f'{N}*{i}={table}')

Enter the num: 1234567890
1234567890*1=1234567890
1234567890*2=2469135780
1234567890*3=3703703670
1234567890*4=4938271560
1234567890*5=6172839450
1234567890*6=7407407340
1234567890*7=8641975230
1234567890*8=9876543120
1234567890*9=11111111010
1234567890*10=12345678900

## Question 6 (Easy)

**Title:** Factorial of a Number

### Problem Statement:
Take a number N as input and find its factorial.

### Approach:
Initialize fact = 1 and multiply values from 1 to N.

In [ ]:
# write your code here
n=int(input())

fact=1

for i in range(1,n+1):
  fact=fact*i

print(fact)

5
120

## Question 7 (Easy)

**Title:** Running Sum

### Problem Statement:
Take N as input and print the running sum from 1 to N.

### Approach:
Use a sum variable and update it in each iteration.

In [ ]:
# write your code here

n=int(input())

sum=0
for i in range(1, n+1):
  sum=sum+i

print(sum)

87
3828

## Question 8 (Easy)

**Title:** Add 5 to Each Number

### Problem Statement:
Take N as input and add 5 to each number from 1 to N and print the result.

### Approach:
Loop from 1 to N and use shorthand `value += 5`.

In [ ]:
# write your code here

n=int(input("Enter the num: "))
value=0
for i in range(1,n+1):
  value=value+5+i

print(value)

Enter the num: 3
21

## Question 9 (Easy)

**Title:** Count Even and Odd Numbers

### Problem Statement:
Take N as input and count how many even and odd numbers are there between 1 and N.

### Approach:
Use two counters and check with modulo operator.

In [ ]:
# write your code here

N=int(input("Enter the number: "))

count_even=0
count_odd=0
for i in range(1,N):
  if i%2==0:
    count_even=count_even+1
  else:
    count_odd=count_odd+1

print(f' Count of even {count_even}')
print(f'Count of odd {count_odd}')

print(f'Total Count: {count_odd+count_even}')

Enter the number: 5
 Count of even 2
Count of odd 2
Total Count: 4

## Question 10 (Easy)

**Title:** Squares from 1 to N

### Problem Statement:
Take N as input and print the square of each number from 1 to N.

### Approach:
Use `i * i` inside the loop.

In [ ]:
# write your code here
N=int(input("Eneter the num: "))
for i in range(1,N+1):
  count=i*i
  print(f'{i}={count}')

Eneter the num: 4
1=1
2=4
3=9
4=16

## Question 11 (Medium)

**Title:** Sum of Even and Odd Separately

### Problem Statement:
Take N as input and find the sum of all even numbers and all odd numbers between 1 and N.

### Approach:
Use two sum variables and check each number with modulo.

In [ ]:
# write your code here

N=int(input("Enter the number: "))

sum_even=0
sum_odd=0
for i in range(1,N):
  if i%2==0:
    sum_even=sum_even+i
  else:
    sum_odd=sum_odd+i

print(f' Sum of even {sum_even}')
print(f'Sum of odd {sum_odd}')

print(f'Total Sum: {sum_odd+sum_even}')

Enter the number: 50
 Sum of even 600
Sum of odd 625
Total Sum: 1225

## Question 12 (Medium)

**Title:** Divisible by 3 and 5

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by both 3 and 5.

### Approach:
Use logical AND condition inside the loop.

In [ ]:
# write your code here

N=int(input("Enter the number: "))

count=0
for i in range(1,N):
  if i%3==0 and i%5==0:
    count=count+1


print(f' Count of num dicvisible by 5 and 3 {count}')

Enter the number: 67
 Count of num dicvisible by 5 and 3 4

## Question 13 (Medium)

**Title:** Skip Multiples of 4

### Problem Statement:
Take N as input and print numbers from 1 to N but skip multiples of 4.

### Approach:
Use `continue` when the number is divisible by 4.

In [ ]:
# write your code here

N=int(input("Enter the number: "))

for i in range(1,N):
  if i%4==0:
    continue
  else:
    print(i)

Enter the number: 67
1
2
3
5
6
7
9
10
11
13
14
15
17
18
19
21
22
23
25
26
27
29
30
31
33
34
35
37
38
39
41
42
43
45
46
47
49
50
51
53
54
55
57
58
59
61
62
63
65
66

## Question 14 (Medium)

**Title:** Find the Largest Number

### Problem Statement:
Take N as input and find the largest number between 1 and N using a loop.

### Approach:
Assume the first value as largest and update using `if`.

In [3]:
# write your code here

# Take input
N = int(input("Enter a number: "))

# Assume first value as largest
largest = 1

# Loop through numbers from 2 to N
for i in range(2, N+1):
    if i > largest:
        largest = i
print(largest)

Enter a number: 10
10

## Question 15 (Medium)

**Title:** Power of a Number

### Problem Statement:
Take two numbers `a` and `b` as input and calculate `a` raised to the power `b` using a for loop.

### Approach:
Initialize result = 1 and multiply it `b` times.

In [8]:
# write your code here
a=int(input("Enter the first number: "))
b=int(input("Enter the secound number: "))
result=1
for i in range(b):
  result=result*a
print(result)

Enter the first number: 5
Enter the secound number: 8
390625

## Question 16 (Hard)

**Title:** Check Prime Number

### Problem Statement:
Take a number as input and check whether it is prime or not.

### Approach:
Loop from 2 to N-1 and use `break` if divisible.

In [17]:
# write your code here
# Take input
N = int(input("Enter a number: "))

# Prime check

if N <= 1:
    print(N, "is not a prime number")
else:
    for i in range(2, N):
        if N % i == 0:
            print(N, "is not a prime number")
            break
    else:
        print(N, "is a prime number")

Enter a number: 6
6 is not a prime number

## Question 17 (Hard)

**Title:** Prime Numbers Between 1 and N

### Problem Statement:
Take N as input and print all prime numbers between 1 and N.

### Approach:
Use nested loops and a flag variable for prime checking.

In [20]:
# write your code here
N = int(input("Enter a number: "))

for i in range(2,N):
  if N%i==0:
    print(i)
  else:
    print(i)

Enter a number: 10
2
3
4
5
6
7
8
9

## Question 18 (Hard)

**Title:** First Number Divisible by 7 and 11

### Problem Statement:
Take N as input and find the first number between 1 and N that is divisible by both 7 and 11. Stop after finding it.

### Approach:
Use logical AND and stop the loop using `break`.

In [25]:
# write your code here
N=int(input("Enter the num: "))

for i in range(1,N):
  if i%7==0 and i%11==0:
    print(i)
    break

Enter the num: 100
77

## Question 19 (Hard)

**Title:** Number Pattern

### Problem Statement:
Take N as input and print a right-angled number pattern using nested loops.

Example:
1
12
123

### Approach:
Use an outer loop for rows and an inner loop for printing numbers.

In [ ]:
# write your code here

var=int(input())

for i in range(1,var+1):
  for j in range(1,i+1):
    print(j, end="")
  print()

6
112123123412345123456

In [ ]:
count=0
for i in range(2):
  n=10
  while n>4:
    count=count+1
    print("Class over", count)
    n=n-1

Class over 1
Class over 2
Class over 3
Class over 4
Class over 5
Class over 6
Class over 7
Class over 8
Class over 9
Class over 10
Class over 11
Class over 12

In [ ]:
# run for loop inside while loop
n=12
while n>10:
  for i in range(3):
    print("jai hind and i is : ",i )
  n=n-1

jai hind and i is :  0
jai hind and i is :  1
jai hind and i is :  2
jai hind and i is :  0
jai hind and i is :  1
jai hind and i is :  2