#  Python Sets – Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [1]:
# write your code here
data = {10, 20, 20, 30, 40, 40}
print(data)

{40, 10, 20, 30}

### Q2
What will be the output? Explain why.

```python
s = {1, 2, 3, 3, 2}
print(s)
```

In [2]:
# write your code here
s = {1, 2, 3, 3, 2}
print(s)  #The output is the unique values beacuse in set u can only store unique values.

{1, 2, 3}

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [11]:
# write your code here
number=set()

for i in range(1,6):
  number.add(i)
print(number)

{1, 2, 3, 4, 5}

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [15]:
# write your code here
s=set() #the correct way to make the empty list is X=set() Where X is any Name which we use to assign the set.
s.add(10)

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [23]:
# write your code here
A = {2, 4, 6, 8}
B = {4, 8, 12}
print(f'Union={A|B},Intersection{A.intersection(B)}')

Union={2, 4, 6, 8, 12},Intersection{8, 4}

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [24]:
# write your code here

if 15 in {5, 10, 15, 20}:
  print("mil gya")
else:
  print("nhi mil gya")

mil gya

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [26]:
# write your code here
Set={10, 20, 30, 40}
Set.remove(30)
print(Set)

{40, 10, 20}

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [27]:
# write your code here

nums = [1, 2, 2, 3, 4, 4, 5]
Num=set(nums)
count=0
for i in Num:
  count=count+1
print(count)

5

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [28]:
# write your code here
s = {10, 20, 30}
s.add(20)
print(len(s)) #the ken of the set will remains same beacuse set u can store only unique elements.

3

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

A set **cannot** contain a list because lists are **mutable**, and set elements must be **immutable and hashable**.  
Use a tuple instead if you need a list‑like element in a set.

### Q11
Convert {100, 200, 300} into list and print first element.

In [ ]:
# write your code here

set1={100, 200, 300}

print(set1)

l1=list(set1)


l1[0]

{200, 100, 300}

200

### Q12
Students in two classes:   #union
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [29]:
# write your code here
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
print(class_A|class_B)

{'Riya', 'Neha', 'Simran', 'Karan', 'Aman'}

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [31]:
# write your code here

text = 'programming'
Set=set(text)
print(Set)

{'r', 'n', 'g', 'i', 'a', 'm', 'o', 'p'}

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [43]:
# write your code here

sentence = 'python is easy and python is powerful'

words = sentence.split()
unique_words = []
for w in words:
    if w not in unique_words:
        unique_words.append(w)

result = " ".join(unique_words)
print(result)

python is easy and powerful

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [34]:
# write your code here
s = set('hello')
print(s)

{'o', 'e', 'h', 'l'}