# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [1]:
# Answer here
a=8
b=12
print(a+b)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [3]:
# Answer here
a=7
b=20
print(a-b)

-13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [4]:
# Answer here
a=6
b=9
print(a*b)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [7]:
# Answer here
a=45
b=9
print(a/b)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [10]:
# Answer here
a=45
b=9
print(a/b)

a=50
b=6
print(a/b)

5.0
8.333333333333334

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [11]:
# Answer here
a=29
b=5
print(a%b)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [12]:
# Answer here
num=3
power=4
print(num**power)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [13]:
# Answer here
a=6

print(+a)
print(-a)

6
-6

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [ ]:
# Answer here
c=5 + 3 * 2
d=(5 + 3) * 2
print(c)
print(d)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [14]:
# Answer here
a=15
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

19
11
60
3.75
3
3
50625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [15]:
# Answer here
n = 10
n += 5
print(n)
n *= 2
print(n)
n -= 4
print(n)

15
30
26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [16]:
# Answer here
x=3
y=7
x,y=y,x
# x = y
# y = x
print(x,y)

7 3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [20]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
Num1 = input("Eneter the First Number: ")
Num2 = input("Eneter the Secound Number: ")

Sum=Num1+Num2

print(f'Sum : {Sum}')

Eneter the First Number: 554543
Eneter the Secound Number: 654364
Sum : 554543654364

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [31]:
Num1 = float(input("Eneter the First Number: "))
Num2 = float(input("Eneter the Secound Number: "))
Num3 = float(input("Eneter the Third Number: "))

Average=(Num1+Num2+Num3)/3
print(Average)

Eneter the First Number: 656
Eneter the Secound Number: 6756
Eneter the Third Number: 75
2495.6666666666665

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [33]:
Radius = float(input("Eneter the Radius of Circle: "))
Circumference = 2 * 3.14159 * Radius
Area = 3.14159 * Radius ** 2

print(f'Circumference : {Circumference}')
print(f'Area : {Area}')

Eneter the Radius of Circle: 567
Circumference : 3562.56306
Area : 1009986.62751

In [ ]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [36]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.


total = int(input("Enter total seconds: "))
hours = total // 3600
minutes = (total % 3600) // 60
seconds = total % 60
print(f"{hours}:{minutes}:{seconds}")

Enter total seconds: 654643
181:50:43

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [35]:
# Answer here

Principal = float(input("Eneter the Principal: "))
Rate = float(input("Eneter the Rate: "))
Time = float(input("Eneter the Time: "))

Interest = (Principal * Rate * Time) / 100

print(f' Interest : {Interest}')

Eneter the Principal: 78888
Eneter the Rate: 6
Eneter the Time: 2
 Interest : 9466.56