#  Python Sets â€“ Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [2]:
# write your code here
data = [10, 20, 20, 30, 40, 40]
Set=set(data)
print(Set)

{40, 10, 20, 30}

### Q2
What will be the output? Explain why.

```python
s = {1, 2, 3, 3, 2}
print(s)
```

In [3]:
# write your code here
s = {1, 2, 3, 3, 2}
print(s)

#The output of this code is {1, 2, 3} because in set duplicate value will remove and written as an unique value

{1, 2, 3}

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [8]:
# write your code here
Set=set()
i=1
for i in range(1,6):
  Set.add(i)
print(Set)

{1, 2, 3, 4, 5}

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [11]:
# write your code here
#Here s={} and python read it as an dictonary so we write this as given below
s = set()
s.add(10)
print(s)

{10}

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [14]:
# write your code here
A = {2, 4, 6, 8}
B = {4, 8, 12}
print(A|B)
print(A.intersection(B))
print(A-B)

{2, 4, 6, 8, 12}
{8, 4}
{2, 6}

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [18]:
# write your code here
Set= {5, 10, 15, 20}
for i in Set:
  if i==15:
    print('Y')
  else:
    continue

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [19]:
# write your code here

Set={10, 20, 30, 40}
Set.remove(30)
print(Set)

{40, 10, 20}

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [20]:
# write your code here
nums = [1, 2, 2, 3, 4, 4, 5]
Set=set(nums)

print(Set)

{1, 2, 3, 4, 5}

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [ ]:
# write your code here

#the len of the set is 3, 20 is add to the set but 20 is already presnt in the set so its not repeat in the set so the len of the set remains same.

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

In [23]:
# write your code here
#NO

### Q11
Convert {100, 200, 300} into list and print first element.

In [34]:
# write your code here

Set={100, 200, 300}
List=list(Set)
print(List)
List[0]

[200, 100, 300]

200

### Q12
Students in two classes:
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [35]:
# write your code here
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}

class_A|class_B

{'Aman', 'Karan', 'Neha', 'Riya', 'Simran'}

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [25]:
# write your code here
text = 'programming'
text=set(text)
print(text)

{'r', 'n', 'o', 'i', 'p', 'a', 'g', 'm'}

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [30]:
# write your code here
sentence = 'python is easy and python is powerful'
sentence=sentence.split()
Set=set(sentence)
print(Set)

{'easy', 'and', 'powerful', 'python', 'is'}

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [31]:
# write your code here
# this is the output{'l', 'e', 'o', 'h'}

{'l', 'e', 'o', 'h'}