# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [3]:
# write your answer here
tup1=(1,4,6,7,7)
print(tup1)

(1, 4, 6, 7, 7)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [6]:
# write your answer here
tup1=(1,5.6,'Sachin',True)
print(f'Integers: {tup1[0]}')
print(f'Float: {tup1[1]}')
print(f'string: {tup1[2]}')
print(f'boolean: {tup1[3]}')

Integers: 1
Float: 5.6
string: Sachin
boolean: True

### Question 3
Find the length of a tuple containing names of 4 students.

In [8]:
# write your answer here
Students=('Sachin','Sachit','Sanya','Pankaj')
print(len(Students))

4

### Question 4
Access and print the last element of a tuple.

In [9]:
# write your answer here
Students=('Sachin','Sachit','Sanya','Pankaj')
print(Students[-1])

Pankaj

### Question 5
Check whether an element exists in a tuple or not.

In [10]:
# write your answer here
Students=('Sachin','Sachit','Sanya','Pankaj')
x='Pankaj'
if x in Students:
  print('Element is present in the tuple')
else:
  print('Not present')

Element is present in the tuple

### Question 6
Convert a tuple into a list.

In [11]:
# write your answer here
Students=('Sachin','Sachit','Sanya','Pankaj')
list1=list(Students)
print(list1)

['Sachin', 'Sachit', 'Sanya', 'Pankaj']

### Question 7
Convert a list into a tuple.

In [12]:
# write your answer here
tup1=tuple(list1)
print(tup1)

('Sachin', 'Sachit', 'Sanya', 'Pankaj')

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [20]:
# write your answer here

t=("apple", "banana", "cherry", "apple", "cherry")

s=[]  #apple , banana #cherry


for i in t:
  if i not in s:
    print(f"this is count of {i}",t.count(i))
    s.append(i)

this is count of apple 2
this is count of banana 1
this is count of cherry 2

### Question 9
Find the index of an element in a tuple.

In [19]:
# write your answer here
Students=('Sachin','Sachit','Sanya','Pankaj')
index=0
x='Pankaj'
for i in Students:
  if x in i:
    print(index)
  else:
    index=index+1

3

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [ ]:
# write your answer here
t=("apple", "banana", "cherry", "apple", "cherry")

print(t[3])

t[3]="guava"     # this line will throw error and hence tuple is immutable

print(t)

In [ ]:
tup=(1,2,)

tu=1,3,4


list1=[7,9]

tup_Fin=tuple(list1)

print(type(tup_Fin),tup_Fin)


l1=list(tup_Fin)

print(type(l1),l1)

<class 'tuple'> (7, 9)
<class 'list'> [7, 9]

In [ ]:
marks_of_student=(12,16,19,9,8)

c=sorted(marks_of_student)
c[-2:]

[16, 19]

In [ ]:
print(t)

new=set(t)

l1=list(t)


print(new)

('apple', 'banana', 'cherry', 'apple', 'cherry')
{'cherry', 'banana', 'apple'}

In [ ]:
s1= {1,2,1,56,8,436,8}

s2={}

print(type(s2))

print(s2)

<class 'dict'>
{}